table {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border: 1px;
  max-width: "50%";
  overflow: hidden;
}

table td,
table th {
  /* border: 1px solid #ddd; */
  padding: 2px;
}

table th {
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
}

table td {
  font-family: Inter;
}

/* table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
} */

table th,
tfoot td {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;

  color: #e5c6bb;
}
